<%- include("partials/header")-%>
    <h1>HOME</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <!-- arrays.forEach((array)=>{
        do what ever
    }) == -->
    <% posts.map((post)=>{ %>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content.substring(0,100) +" "%>
            <a href="/posts/<%=post.title%>" >Read more</a>
        </p>
        <% }); %>

            <%- include("partials/footer")-%>